body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(24, 24, 24);
    color: rgb(252, 252, 252);
    line-height: 1.6;
}

header {
    background-image: url('https://example.com/eiffel-tower.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    color: rgb(93, 0, 112);
}

header h1 {
    font-size: 4em;
    margin: 0;
    text-shadow: 2px 2px 10px rgb(238, 238, 238);
    
}
 h2{
    color: rgb(238, 238, 238);
    text-align: center;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    font-style: italic;
}

.about {
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    
}
.about p{
    
        padding: 10px;
        margin: 5px;
        border: 1px solid #000;
        background-color: rgb(156, 102, 207);
        border-radius: 40px
    




}

main table {
    border: 5px solid rgb(93, 0, 112);
    margin: 110px;
    border-radius: 5px; 
    
}

main table th {
    border: 5px solid rgb(93, 0, 112);
    
}

main table td {
    border: 5px solid rgb(93, 0, 112); 
    
}

nav {
    background: rgb(201,0,255);
    background: linear-gradient(108deg, rgba(201,0,255,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,1,1) 98%, rgba(201,0,255,1) 100%);
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.637);
    border-radius: 30px;
    
}

nav img{
     width: 45px;




}



nav a {
    display: block;
    color: rgb(230, 226, 226);
    text-align: center;
    padding: 14px 30px; 
    text-decoration: none;
    font-size: 18px; 
    margin: 0 10px; 
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
nav a:hover {
    transition: 1s;
    background-color: #1a18167a;
    color: rgb(235, 238, 235);
    scale: 0.95;
}
.deroulant {
    position: relative;
    display: inline-block;
}
.menu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background: #c900ff;; 
    min-width: 200px; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    border-radius: 5px;
}
.menu a {
    display: block; 
    color: white;
    padding: 10px;
    font-size: 14px;
}
.menu a:hover {
    background-color: #1b1a1a;
}
.deroulant:hover .menu {
    display: block;
}


footer {
    background: rgb(32, 32, 32);
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: left;
    margin-left: 0%;
    margin-top: 100px;

}
.footer-links {
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer-links li {
    list-style-type: none;


}
.footer-links button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #00000021; 
    color: white; 
    display: block; 
    align-items: end;
    cursor: pointer;
    
}
.footer-links img{
    width: 40px;
    display: block; 
     margin: 0 auto; 
    
      
}

    
    .propos:hover{
        box-shadow: 0 10px 7px rgb(138, 1, 250);
        color: white;
    
    
    
    }
   
    .facebook:hover{
        box-shadow: 0 10px 7px rgb(141, 11, 247);



}
.instagram{
    border-radius: 2px;



}
.instagram:hover{
    box-shadow: 0 10px 7px rgb(147, 22, 248);



}
.tiktok:hover{
    box-shadow: 0 10px 7px rgb(152, 35, 248);
    



}
.x:hover{
    box-shadow: 0 10px 7px rgb(159, 47, 252);
    



}

.contact:hover{
    box-shadow: 0 10px 7px rgb(159, 47, 252);
    



}
.contact:hover{
    box-shadow: 0 10px 7px rgb(159, 47, 252);
}
   .footer-links img{
    width: 40px;
    
      
}



img {
    margin:0px;
    border-radius:40px
    
    
}
video{
    margin: 110px;
    border-radius: 40px
}